body {
  margin: 0;
  padding: 0;
  background-color: #f3f5f6;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: blue;
}

.ft-35 {
  font-size: 35px;
}

.mh-500 {
  max-height: 500px;
}

.image-card {
  width: auto;
  height: 300px;
}

.card-container {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: none;
}

.show-more-less-button {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: none;
  background-color: #f3f5f6;
  width: 89%;
}
